In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from statistics import mean

df=pd.read_csv('dummy_data_p326_2.csv')
df1=pd.DataFrame(df)
print(df1)

     age  gender  time_spent   platform  interests        location  \
0     56    male           3  Instagram     Sports  United Kingdom
1     46  female           2   Facebook     Travel  United Kingdom
2     32    male           8  Instagram     Sports       Australia
3     25    male           1  Instagram  Lifestlye       Australia
4     38    male           3   Facebook     Travel   United States
..   ...     ...         ...        ...        ...             ...
663   50  female           9    YouTube     Travel       Australia
664   23  female           3    YouTube  Lifestlye   United States
665   22  female           8  Instagram  Lifestlye  United Kingdom
666   61  female           4    YouTube     Sports       Australia
667   19  female           8    YouTube     Travel       Australia

    demographics         profession  income  indebt  isHomeOwner  Owns_Car
0          Urban  Software Engineer   19774    True        False     False
1          Urban            Student   10564    True         True      True
2      Sub_Urban   Marketer Manager   13258   False        False     False
3          Urban  Software Engineer   14566   False         True      True
4          Urban   Marketer Manager   19179    True         True      True
..           ...                ...     ...     ...          ...       ...
663        Urban  Software Engineer   18648    True         True      True
664        Urban            Student   19196   False        False     False
665        Rural   Marketer Manager   18536   False         True     False
666    Sub_Urban   Marketer Manager   16273    True         True     False
667        Rural            Student   16284   False         True     False

[668 rows x 12 columns]

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           668 non-null    int64
 1   gender        668 non-null    object
 2   time_spent    668 non-null    int64
 3   platform      668 non-null    object
 4   interests     668 non-null    object
 5   location      668 non-null    object
 6   demographics  668 non-null    object
 7   profession    668 non-null    object
 8   income        668 non-null    int64
 9   indebt        668 non-null    bool
 10  isHomeOwner   668 non-null    bool
 11  Owns_Car      668 non-null    bool
dtypes: bool(3), int64(3), object(6)
memory usage: 33.3+ KB
None

In [3]:
num_attributes = len(df.columns)
print("Number of attributes:", num_attributes)

Number of attributes: 12

In [4]:
num_rows = len(df)
print("Number of objects:", num_rows)

Number of objects: 668

In [5]:
attribute_types = df.dtypes

print("Data types of attributes:")
print(attribute_types)

Data types of attributes:
age              int64
gender          object
time_spent       int64
platform        object
interests       object
location        object
demographics    object
profession      object
income           int64
indebt            bool
isHomeOwner       bool
Owns_Car          bool
dtype: object

In [7]:
class_labels = df['interests'].unique()

print("Class labels:")
print(class_labels)

Class labels:
['Sports' 'Travel' 'Lifestlye']

In [8]:
#Remove rows with missing data(NaN) 
df_cleaned = df.dropna()

#Display The cleaned dataframe
print("/nDataFrame after removing rows rows with missing data:")
print(df_cleaned )

/nDataFrame after removing rows rows with missing data:
     age  gender  time_spent   platform  interests        location  \
0     56    male           3  Instagram     Sports  United Kingdom
1     46  female           2   Facebook     Travel  United Kingdom
2     32    male           8  Instagram     Sports       Australia
3     25    male           1  Instagram  Lifestlye       Australia
4     38    male           3   Facebook     Travel   United States
..   ...     ...         ...        ...        ...             ...
663   50  female           9    YouTube     Travel       Australia
664   23  female           3    YouTube  Lifestlye   United States
665   22  female           8  Instagram  Lifestlye  United Kingdom
666   61  female           4    YouTube     Sports       Australia
667   19  female           8    YouTube     Travel       Australia

    demographics         profession  income  indebt  isHomeOwner  Owns_Car
0          Urban  Software Engineer   19774    True        False     False
1          Urban            Student   10564    True         True      True
2      Sub_Urban   Marketer Manager   13258   False        False     False
3          Urban  Software Engineer   14566   False         True      True
4          Urban   Marketer Manager   19179    True         True      True
..           ...                ...     ...     ...          ...       ...
663        Urban  Software Engineer   18648    True         True      True
664        Urban            Student   19196   False        False     False
665        Rural   Marketer Manager   18536   False         True     False
666    Sub_Urban   Marketer Manager   16273    True         True     False
667        Rural            Student   16284   False         True     False

[668 rows x 12 columns]

In [ ]:
#Null and missing values can badly affect the efficiency of the dataset and the information
#that can be extracted from the data later, thus we checked if our data contains missing or
#null values and deleted these rows to get more efficient dataset.

In [16]:
# Select the 'age' 
age_column = df['age']
# Calculate the mean of the 'age' column

mean_age = age_column.mean()
# Calculate the absolute differences from the mean
differences_from_mean = abs(age_column - mean_age)
# Find the index of the row with the largest difference from the mean
max_difference_index = differences_from_mean.idxmax()
# Remove the row with the largest difference from the mean
df_no_outlier = df.drop(max_difference_index)
# Display the original DataFrame and the DataFrame after removing the row with the largest difference
#from the mean
print("Original DataFrame:")
print(df)
print("\nDataFrame after removing the row with the largest difference from the mean:")
print(df_no_outlier)

Original DataFrame:
     age  gender  time_spent   platform  interests        location  \
0     56    male           3  Instagram     Sports  United Kingdom
1     46  female           2   Facebook     Travel  United Kingdom
2     32    male           8  Instagram     Sports       Australia
3     25    male           1  Instagram  Lifestlye       Australia
4     38    male           3   Facebook     Travel   United States
..   ...     ...         ...        ...        ...             ...
663   50  female           9    YouTube     Travel       Australia
664   23  female           3    YouTube  Lifestlye   United States
665   22  female           8  Instagram  Lifestlye  United Kingdom
666   61  female           4    YouTube     Sports       Australia
667   19  female           8    YouTube     Travel       Australia

    demographics         profession  income  indebt  isHomeOwner  Owns_Car
0          Urban  Software Engineer   19774    True        False     False
1          Urban            Student   10564    True         True      True
2      Sub_Urban   Marketer Manager   13258   False        False     False
3          Urban  Software Engineer   14566   False         True      True
4          Urban   Marketer Manager   19179    True         True      True
..           ...                ...     ...     ...          ...       ...
663        Urban  Software Engineer   18648    True         True      True
664        Urban            Student   19196   False        False     False
665        Rural   Marketer Manager   18536   False         True     False
666    Sub_Urban   Marketer Manager   16273    True         True     False
667        Rural            Student   16284   False         True     False

[668 rows x 12 columns]

DataFrame after removing the row with the largest difference from the mean:
     age  gender  time_spent   platform  interests        location  \
0     56    male           3  Instagram     Sports  United Kingdom
1     46  female           2   Facebook     Travel  United Kingdom
2     32    male           8  Instagram     Sports       Australia
3     25    male           1  Instagram  Lifestlye       Australia
4     38    male           3   Facebook     Travel   United States
..   ...     ...         ...        ...        ...             ...
663   50  female           9    YouTube     Travel       Australia
664   23  female           3    YouTube  Lifestlye   United States
665   22  female           8  Instagram  Lifestlye  United Kingdom
666   61  female           4    YouTube     Sports       Australia
667   19  female           8    YouTube     Travel       Australia

    demographics         profession  income  indebt  isHomeOwner  Owns_Car
0          Urban  Software Engineer   19774    True        False     False
1          Urban            Student   10564    True         True      True
2      Sub_Urban   Marketer Manager   13258   False        False     False
3          Urban  Software Engineer   14566   False         True      True
4          Urban   Marketer Manager   19179    True         True      True
..           ...                ...     ...     ...          ...       ...
663        Urban  Software Engineer   18648    True         True      True
664        Urban            Student   19196   False        False     False
665        Rural   Marketer Manager   18536   False         True     False
666    Sub_Urban   Marketer Manager   16273    True         True     False
667        Rural            Student   16284   False         True     False

[667 rows x 12 columns]

In [ ]:
# Select the 'time_spent' 
time_spent_col = df['time_spent']
# Calculate the mean of the 'time' column

mean_time = time_spent_col.mean()
# Calculate the absolute differences from the mean
differences_from_mean1 = abs(time_spent_col - mean_time)
# Find the index of the row with the largest difference from the mean
max_difference_index1 = differences_from_mean.idxmax()
# Remove the row with the largest difference from the mean
df_no_outlier1 = df.drop(max_difference_index1)
# Display the original DataFrame and the DataFrame after removing the row with the largest difference
#from the mean
print("Original DataFrame:")
print(df)
print("\nDataFrame after removing the row with the largest difference from the mean:")
print(df_no_outlier1)

In [ ]:
# Select the 'income' 
income_col = df['income']
# Calculate the mean of the 'income' column

mean_income = income_col.mean()
# Calculate the absolute differences from the mean
differences_from_mean2 = abs(time_spent_col - mean_time)
# Find the index of the row with the largest difference from the mean
max_difference_index2 = differences_from_mean.idxmax()
# Remove the row with the largest difference from the mean
df_no_outlier2 = df.drop(max_difference_index2)
# Display the original DataFrame and the DataFrame after removing the row with the largest difference
#from the mean
print("Original DataFrame:")
print(df)
print("\nDataFrame after removing the row with the largest difference from the mean:")
print(df_no_outlier2)

In [ ]:
#First, we identified all outliers in the numeric attributes. Second, we deleted the rows where
#we find the outliers to produce more accurate dataset that help us to get more accurate
#results later, finally we checked again to make sure all outliers have been deleted then
#delete the new outliers that occurred because of the IQR change after deleting the rows in
#the second step